* {
	margin: 0; padding: 0;
}
body {
	text-align: center;
	font: 12px Verdana;
	color: #000000;
	background: #F7F6F6 url(images/background.gif) repeat-x 0 0;
	
}
a {
	color: #034f9b;
}
a:hover {
	text-decoration: none;
	color: #04cc6f;
}
img {
	border: 0;
}

/** BEGIN wrapper **/
#wrapper {
	width: 100%;
	margin: auto auto;
	text-align: left;
}
/** END wrapper **/


/** BEGIN header **/
#header {
	height: 200px;
	margin-bottom: 15px;
}
	#header .pages {
		list-style-type: none;
		height: 39px;
		padding-top: 3px;
		float: left;
	}
		#header .pages li {
			float: left;
		}
		#header .pages li a {
			display: block;
			font-size: 13px;
			font-weight: bold;
			padding: 12px 15px;
			text-decoration: none;
			transition: all 0.8s ease;
		}
		#header .pages li a:hover {
			font-weight: bold;	
		}
	#header form {
		width: 240px; height: 26px;
		background: url(images/search.gif) no-repeat 0 8px;
		float: right;
		margin-right: 0;
		padding: 8px 30px 0 0;
	}
		#header form input {
			border: 0;
			float: left;
			width: 170px;
			margin: 5px;
		}
		#header form button {
			border: 0;
			text-indent: -9999px;
			font-size: 0;
			width: 60px; height: 26px;
			float: right;
			background-color: transparent;
			cursor: pointer;
		}
	#header .logo {
		clear: both;
		float: left;
		padding: 30px 0 36px 20px;
	}
		#header .logo h1 {
			font-size: 30px;
		}
			#header .logo h1 a {
				text-decoration: none;
				transition: all 0.3s ease;
			}
			#header .logo h1 a:hover {
				font-size: 30.5px
			}
		#header .logo p {
			color: #888888;
			font-weight: bold;
			font-size: 1.2em;
			text-transform: uppercase;
		}
	#header .sponsor {
		float: right;
		padding: 25px 0;
		margin-right: 25px;
	}
	#header .categories {
		clear: both;
		list-style-type: none;
		height: 40px;
		border-bottom: 5px solid rgba(44,44,44, 0.8);
		border-top: 1px solid #DDDDDD;
		overflow: hidden;
		background-color: rgba(44,44,44, 0.8);
	}
		#header .categories li {
			float: left;
		}
		#header .categories li a {
			display: block;
			padding: 13px;
			color: white;
			font-weight:550; 
			border-right: 1px solid #dddddd;
			text-decoration: none;
			transition: all 0.3s ease;
		}
		#header .categories li a:hover {
			background-color: #00b963;
			color: #ffffff;
			padding-left: 25px;
			padding-right: 25px;
		}
/** END header **/




/** BEGIN Content **/
#content .recent {
	border: 1px solid #DDDDDD;
}
	#content .recent .post {
		padding: 15px;
		clear: both;
	}
		#content .recent .post h2 {
			font-size: 1.5em;
			margin-bottom: 10px;
		}
			#content .recent .post h2 a {
				text-decoration: none;
			}
		#content .recent .post img {
			float: right;
			padding: 5px;
			border: 1px solid #DDDDDD;
			background-color: #FFFFFF;
			margin-left: 20px;
		}
		#content .recent .post p {
			line-height: 1.4em;
			margin-bottom: 10px;
		}
		#content .recent .post .readmore {
			font-size: 0.8em;
		}
	#content .recent .o {
		background-color: #EEEEEE;
	}
#content {
}

.main-page{
	display: flex;
}
.main-page div#content{
	flex: 0 0 65%;
}
.main-page div#sidebar{
	flex: 0 0 35%;
	justify-content: flex-end;
}
.main-page div{
	flex: 0 0 50%;
}

#content .single {
	padding: 10px;
}
	#content .single h2 {
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	#content .single p {
		line-height: 1.5em;
		margin-bottom: 10px;
	}
	#content .single ul, #content .single ol {
		list-style-position: inside;
		margin-bottom: 10px;
	}
	#content .single li {
		line-height: 1.5em;
		padding: 2px 0;
	}
	#content .single blockquote {
		padding: 10px 10px 5px;
		margin-bottom: 10px;
		background-color: #eeeeee;
		border-width: 1px 0;
		border-style: solid;
		border-color: #e0e0e0;
	}
	#content .single h3, #content .single h4, #content .single h5, #content .single h6 {
		font-size: 1.2em;
		margin-bottom: 5px;
	}
#comments {
	padding: 10px;
}
	#comments h2 {
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	#comments a {
		text-decoration: none;
	}
	#comments p {
		margin-bottom: 10px;
		line-height: 1.6em;
	}
	#comments form {
		
	}
	#comments form p {
		margin-bottom: 5px;
	}
		#comments form input {
			margin-right: 5px;
		}
		#comments form input, textarea {
			border: 1px solid #cccccc;
			font-size: 0.9em;
			font-family: Verdana;
			padding: 4px;
			background-position: 4px 4px;
			background-repeat: no-repeat;
		}
		#comments form input {
			width: 240px;
			border: 1px solid #cccccc;
		}
		#comments form textarea {
			width: 350px;
			padding: 4px 4px !important;
			border: 1px solid #cccccc;
		}
		#comments form button {
			border: 1px solid #a0a0a0;
			font-size: 1em;
			font-family: Verdana;
			padding: 2px 6px;
		}
	.commentdetails {
		margin-top: 25px;
	}
	.commentauthor {
		margin-bottom: 5px !important;
		font-weight: bold;
	}
	.commentdate {
		font-size: 0.8em;
		margin-bottom: 5px;
		color: #909090;
	}
	.required {
		color: #ff0000;
	}

/** END Content **/







/** BEGIN sidebar **/
#sidebar {
	width: 320px;
	float: right;
	margin-right: 2px;
}
	#sidebar .box {
		border: 1px solid #DDDDDD;
		margin-bottom: 10px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				
	}
		#sidebar .box h2 {
			font-size: 1em;
			text-transform: uppercase;
			color: white;
			font-weight: bolder;
			background-color: rgba(44,44,44, 0.8);
			padding: 10px;
			border-bottom: 1px solid #dddddd;
		}
		#sidebar .box ul {
			list-style-type: square;
			list-style-position: inside;
			padding: 10px;
		}
			#sidebar .box ul li {
				line-height: 1.4em;
				color: #888888;
				padding: 2px 0;
			}
			#sidebar .box ul li a {
				color: #888888;
				text-decoration: none;
				transition: all 0.2s ease;
			}
			#sidebar .box ul li a:hover {
				color: #00b963;
				font-weight: bold;
				text-decoration: underline;
			}
		#sidebar .box .video {
			padding: 12px;
		}
		#sidebar .box .flickr {
			padding: 1px;
			text-align: center;
			margin: 0;
		}
			#sidebar .box .flickr img {
				margin: 2px;
				height: 68px;
				width: 68px;
				transition: all 0.3s ease;
			}
			
			#sidebar .box .flickr img:hover {
				transform: scale(1.05);
				height: 68px;
				width: 68px;
			}
		#sidebar .box .tags {
			padding: 10px;
		}
			#sidebar .box .tags a {
				color: #888888;
				text-decoration: none;
			}
			#sidebar .box .tags a:hover {
				color: #003366;
				text-decoration: underline;
			}
		#sidebar .box .popular {
			list-style-type: none;
			list-style-position: outside;
		}
			#sidebar .box .popular li {
				padding: 5px 0;
			}
			#sidebar .box .popular li a {
				color: #003366;
				text-decoration: underline;
				font-weight: bold;
			}
			#sidebar .box .popular li p {
				padding-top: 5px;
			}
		#sidebar .box .sponsors {
			padding: 10px 10px 0;
			text-align: center;
		}
			#sidebar .box .sponsors img {
				margin: 6px;
			}
		#sidebar .box .bookmarks {
			list-style-type: none;
			list-style-position: outside;
			padding: 5px 10px 10px;
		}
			#sidebar .box .bookmarks li {
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				border-bottom: 1px dotted #CCCCCB;
				padding: 5px 0 5px 20px;
				background-position: 0 6px;
				background-repeat: no-repeat;
			}
			#sidebar .box .bookmarks li a {
				color: #DA3372;
				transition: all 0.05s ease;
			}
			#sidebar .box .bookmarks li a:hover {
				color: rgb(146, 0, 56);
			}
			#sidebar .box .bookmarks li.rss { 
				background-image: url(images/rss.gif); 
			}
			#sidebar .box .bookmarks li.twt {
				 background-image: url(images/twitter.gif); 
				}
			#sidebar .box .bookmarks li.fcb {
				 background-image: url(images/facebook.gif);
				 }
			#sidebar .box .bookmarks li.ldi { 
				background-image: url(images/linkedin.gif); 
			}
	#sidebar .l {
		float: left;
		width: 155px;
	}
	#sidebar .r {
		float: right;
		width: 155px;
	}
/** END sidebar **/


/** BEGIN categorie **/
.hero .container .row {
	display: flex;
	margin-top: 5px;
	flex-direction: row;
}
.hero .container .row .left-post{
	flex: 26%; 
}
.hero .container .row .middle-post{
	flex: 48%; 
}
.hero .container .row .right-post{
	flex: 26%;
}

.hero .post {
	padding: 0;
}
.post-cat {
	color: white;
	background-color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	font-size: 13px;
	padding: 3px 10px;
	position: absolute;
	top: 10px;
	left: 10px;

}
a.post-title{
	color:white;
	position: absolute;
	bottom: 15px;
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}

.hero .post .featured-img-1{
	background: url(images/tomb-raider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.3s ease;
}

.hero .post .featured-img-1:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/tomb-raider.jpg);
	cursor: pointer;
	padding-top: 20px;
}

.hero .post .featured-img-2{
	background: url(images/tiger.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.35s ease;
}


.hero .post .featured-img-2:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/tiger.jpeg);
	cursor: pointer;
	padding-top: 20px;
}


.hero .post .featured-img-3{
	background: url(images/naruto.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.35s ease;
}


.hero .post .featured-img-3:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/naruto.jpeg);
	cursor: pointer;
	padding-top: 20px;
}

.left-post{
	margin-left: 2px;
}
.right-post{
	margin-right: 2px;
}
.left-post, .middle-post{
	border-right: 1px solid #FFFFFF;
}
.bottom-post{
 border-top: 1px solid #FFFFFF;
}


.hero .post .featured-img-4{
	background: url(images/vevo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.35s ease;
}


.hero .post .featured-img-4:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/vevo.jpg);
	cursor: pointer;
	padding-top: 20px;
}


.hero .post .featured-img-5{
	background: url(images/edgeoftomorrow.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.35s ease;
}


.hero .post .featured-img-5:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/edgeoftomorrow.jpg);
	cursor: pointer;
	padding-top: 20px;
}


.hero .post .featured-img-6{
	background: url(images/Dessert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 266px;
	position:relative;
	transition: all 0.35s ease;
}


.hero .post .featured-img-6:hover {
	background-image: linear-gradient(rgba(0, 189, 110,0.1),rgba(0, 189, 110,0.1), rgba(0,189,110,0.9)), url(images/Dessert.jpg);
	cursor: pointer;
	padding-top: 20px;
}






/** END categorie **/
